<template>
  <div>
    <h1>Hello World from Vue</h1>
    <p>Esta es una aplicacion Remota construida con Vue.js</p>
  </div>
</template>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
